body {
    margin: 0;
    padding: 0;
    height: 100%;
    /*overflow: hidden;*/
    border: none;
    font-family: 'Kulim Park', sans-serif;
    font-size: 20px;
    text-align: center;
}
/*///// estilar la barra de desplazamiento */

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.5);
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: transparent;
}

.page_wrap {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.background.gradient {
    background: #50a3a2;
    background: linear-gradient(to bottom right,#50a3a2 0%,#78cc6d 100%);
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* //////configurar figuras animadas */
/* .bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 80px;
    height: 80px;
    background-color: rgba(255,255,255,.1);
    bottom: -320px;
    animation: square 50s infinite;
    transition-timing-function: linear;
    border-radius: 4px;
} */


/* /////////// */
.container {
    margin: 8px;    ;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 84vh;
    /* max-width: 1268px; */
    max-height: 674px;
}

.header {
    margin-right: 8px;
    position: relative;
    left: 0;
    /* top: 15px; */
    float: left;
    width: 72px;
    z-index: 100;
    text-align: center;
    opacity: 1;
    visibility: visible;
}

/* .header .profile {
    padding: 10px 62px 10px 18px;
    width: auto;
    height: 64px;
    text-align: left;
    display: none;
}

.header .profile .title {
    font-size: 15px;
    color: #323232;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.header .profile .subtitle, .header .profile .typed-cursor {
    margin: 0;
    display: inline-block;
    vertical-align: top;
}

.header .profile .typed-cursor {
    display: none;
} */

.header .menu-btn {
    margin-bottom: 8px;
    position: relative;
    display: block;
    height: 72px;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    z-index: 2;
}

.header .menu-btn span {
    margin-left: -13px;
    margin-top: -1px;
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 26px;
    height: 2px;
    background: #323232;
    transition: all .3s ease 0s;

}

.header .menu-btn span:before, .header .menu-btn span:after {
    content: '';
    position: absolute;
    left: 0;
    top: -7px;
    width: 80%;
    height: 100%;
    background: #323232;
    transition: all .3s ease 0s;
}

.header .menu-btn span:after {
    top: auto;
    bottom: -7px;
    width: 60%;
}



.header .top-menu {
    width: 100%;
    font-size: 0;
    display: none;
    /* display: block; */
}

.header .top-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* .header .top-menu ul li {
    display: block;
} */

.header .top-menu ul li a {
    padding: 25px 3px;
    position: relative;
    overflow: hidden;
    display: block;
    height: auto;
    color: #323232;
    text-align: center;
    background: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .3s ease 0s;
    text-decoration: none;
}

.header .top-menu ul li a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: auto;
    width: 100%;
    height: 5px;
    background: radial-gradient(ellipse at right,#ddd 0%,rgba(255,255,255,0) 70%);
}

.header .top-menu ul li a .icon {
    color: #78cc6d;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 40px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    border-radius: 30px;
    transition: all .3s ease 0s;
}


/* //Card con foto */

.card-started {
    position: relative;
    margin: 8px;
    width: auto;
    height: auto;
    
    border-radius: 4px;
}

.card-started .profile, .content-sidebar .profile {
    /* padding: 150px 0 0 10px; */
    position: relative;
    overflow: hidden;
    height: 100%;
    text-align: center;
    background: #fff;
    z-index: 10;
    border-radius: 4px;
}

.card-started .profile .profile-content, .content-sidebar .profile .profile-content {
    
    padding: 50px;
    /* position: relative; */
    left: 0;
    /* width: 100%; */
    height: 100%;
    transition: all .02s ease 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.card-started .profile .slide, .content-sidebar .profile .slide {
    position: relative;
    left: 0;
    top: 70px;
    width: auto;
    height: 52%;
    /* background: url('/images/estefania.jpg') no-repeat center center/cover; */
    /* background-repeat: no-repeat;
    background-position: center center;
    background-size: auto; */
    border-radius: 4px 4px 0 0;
}

.card-started .profile .title, .content-sidebar .profile .title {
    position: relative;
    margin: 0 0 10px;
    font-size: 34px;
    color: #323232;
    line-height: 32px;
    font-weight: 400;
    padding-top: 200px;
}

.card-started .profile .subtitle, .content-sidebar .profile .subtitle, .content-sidebar .profile .typed-cursor, .card-started .profile .typed-cursor {
    position: relative;
    margin: 10px;
    display: inline-block;
    color: #78cc6d;
    font-size: 26px;
    line-height: 20px;
    height: 20px;
    font-weight: 400;
}

.card-started .profile .typed-cursor {
    position: relative;
    margin-left: 5px;
    margin-bottom: 0;
    display: none;
    animation: typed_cursor 1.5s infinite;
    transition-timing-function: linear;
}

/* redes sociales */
.card-started .profile .social {
    position: relative;
    margin: 16px 0 0;
}

.card-started .profile .social a, .content-sidebar .profile .social a {
    margin: 0 6px;
    display: inline-block;
    vertical-align: middle;
}

.card-started .profile .social a, .content-sidebar .profile .social a i {
    color: #323232;
    font-size: 28px;
}

/*  */

.lnks {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    z-index: 10;
}

.lnk:before, .button:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: radial-gradient(ellipse at center,#ddd 0%,rgba(255,255,255,0) 70%);

}

.lnk, .button, input[type=submit] {
    position: relative;
    display: block;
    width: 100%;
    height: 70px;
    line-height: 70px;
    font-size: 18px;
    color: #323232;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    background-color: whitesmoke;
    font-weight: bold;
}

/* //////// */
.card-inner {
    padding: 0;
    /* position: absolute; */
    margin: 8px;
    overflow: hidden;
    /* left: 560px;
    right: 0; */
    top: 15px;
    bottom: 15px;
    width: auto;
    height: auto;
    background: #fff;
    transform-origin: center left;
    opacity: 0;
    /* visibility: hidden; */
    z-index: 8;
    border-radius: 4px;
    transition: visibility 1s linear,opacity 0s linear;
    /* display: none; */
}

.card-inner.active {
    opacity: 1;
    /* visibility: visible; */
    /* z-index: 10; */
    display: block;
}


.card-inner .card-wrap, .content-sidebar .sidebar-wrap, .profile .main-menu-fixed .main-menu {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;

}
.card-inner .card-wrap {
    padding: 30px 30px 0;
    position: relative;
}
/* .fadeInLeft {
    animation-name: fadeInLeft;
} */



@media (min-width: 768px) { 
    .elementor-column.elementor-col-100, .elementor-column[data-col="100"] {
        width: 100%;
    }
}


/* /////////// */
.row {
    margin: 0 -30px;
    position: relative;
    font-size: 0;
}

.row .col {
    padding: 30px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}

.border-line-v:before {
    content: '';
    position: absolute;
    left: -1px;
    top: 0;
    width: 1px;
    height: 100%;
    background: -moz-radial-gradient(top,ellipse cover,#ddd 0%,rgba(255,255,255,0) 70%);
    background: -webkit-radial-gradient(top,ellipse cover,#ddd 0%,rgba(255,255,255,0) 70%);
    background: radial-gradient(ellipse at top,#ddd 0%,rgba(255,255,255,0) 70%);
}

.info-list ul {
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
}

.info-list ul li {
    padding: 15px 0;
    position: relative;
    display: block;
    vertical-align: top;
    width: auto;
    font-size: 18px;
    /* word-break: break-word; */
    text-align: center;
    margin-bottom: 10px;
}

.info-list ul li:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: radial-gradient(ellipse at center,#ddd 0%,rgba(255,255,255,0) 70%);
}
.info-list ul li strong {
    background-color: black;
    font-size: 18px;
    line-height: 20px;
    color: #fefefe;
    font-weight: 400;
    padding: 6px;
    border-radius: 5px;
    float: left;
}

@media (min-width: 1024px) { 
    .row .col.col-d-6 {
        width: 49.998%;
    }
}

/* /////////////ABOUT CONTENT */
.aboutContent, .experiencias {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.aboutContent p {
    font-size: 20px;
    padding: 10px 50px 0px 20px;
}

.icons {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-left: 50px;
}

/* animacion de los content */
.card-inner.hidden {
    opacity: 0;
    visibility: hidden;
    z-index: 9;
}

.card-inner.active {
    opacity: 1;
    visibility: visible;
    z-index: 10;
    display: block;
}

.card-inner.animated {
    opacity: 1;
    visibility: visible;
    z-index: 9;
}

.animated{
    animation-duration:1s;
    animation-fill-mode:both
}

.fadeInLeft{
    animation-name:fadeInLeft
}

/* ///////RESUME */

.resumeContent {
    display: flex;
    flex-direction: column;
}

#strong {
    float: left;
}

.h3 {
    margin-left: 30px;
    
}

/* ///////WORKS */

.proyects, .moreProyects {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}
/* .proyects  p{
    width: 500px;
} */

.proyects img {
    width: 50%;
    border-radius: 6px;
    margin: 15px;
}

.moreProyects img{
    width: 500px;
}
.podcast,
.gifos, 
.eib, 
.todoapp, 
.delilah {
    /* display: flex;
    justify-content: space-between; */
    margin-bottom: 20px;
    border-bottom: dotted;
    margin: 18px;
}

.contactContent {
    margin-bottom: 50px;
}

/* ANIMACIONES */
@keyframes fadeInLeft{
    0%{
        opacity:0;
        transform:translateX(-200px)}
    100%{
        opacity:1;
        transform:translateX(0)
    }
}

.fadeOutLeft{
    animation-name:fadeOutLeft
}

@keyframes fadeOutLeft {
    0% {
       opacity: 1;
       transform: translateX(0);
    }
    100% {
       opacity: 0;
       transform: translateX(-20px);
    }
 } 

/* //////////////max width 1120 ////////////*/
 @media (max-width: 2120px) { 
    body {
        overflow: visible;
    }
    .header {
        margin-left: -85px;
        position: fixed;
        left: auto;
        top: 75px;
        width: 72px;
        max-width: 72px;
        height: auto;
        display: block;
        background: #fff;
        box-shadow: 0 0 25px rgba(0,0,0,.05);
    }
    .header .menu-btn {
        margin-bottom: 0;
    }
    .header .top-menu {
        margin: 0 auto;
        max-width: 100%;
        /* display: block; */
        box-shadow: none;
    }
    /* .header .top-menu ul li a:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: auto;
        width: 100%;
        height: 5px;
        background: radial-gradient(ellipse at right,#ddd 0%,rgba(255,255,255,0) 70%);
    } */
    .card-started {
        position: relative;
        /* float: none; */
        width: auto;
        height: auto;
    }
    .card-started .profile, .content-sidebar .profile {
        height: auto;
    }
    .card-started .profile .profile-content, .content-sidebar .profile .profile-content {
        height: 600px;
    }
    .card-started .profile.no-photo .slide, .content-sidebar .profile.no-photo .slide {
        height: 55%;
    }
    .card-inner {
        position: relative;
        /* margin: 15px 0; */
        left: 0;
        top: 0;
        width: auto;
        height: auto;
        opacity: 1;
        visibility: visible;
        border-radius: 4px;
        display: block;
    }
    .card-inner .card-wrap {
        overflow: visible;
        height: auto;
    }
    .container {
        margin: 3vh 3vw;
        /* padding: 0 15px 0 100px; */
        position: relative;
        top: 20px;
        left: 0;
        width: 100%;
        /* max-width: 100%; */
        /* margin-left: auto;
        margin-right: auto; */
        /* max-width: 700px;
        max-height: initial; */
        height: auto;
        transform: none;

    }   
    .container.opened {
        transform: none;
        margin-left: auto;
        margin-right: auto;
    }
    .proyects img {
        width: 100%;
    }
     .gifos, .todoapp  {
        flex-direction: column;
    }

    .podcast,.eib, .delilah{
        flex-direction: column-reverse;
    }

}

/* @media (max-width: 1300px) { 
    .container {
        margin: 5vh 3vw;
        height: 90vh;
    }
} */

/* //////////////max width 680 ////////////*/

@media (max-width: 2680px) { 
    /* .container.opened {
        margin-left: -90px;
        margin-right: auto;
    } */
    .header {
        margin-right: 0;
        margin-left: 0;
        padding: 0;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        width: auto;
        height: 64px;
        max-width: 100%;
        border-radius: 0;
    }
    .header .profile {
        display: block;
    }
    .header .menu-btn {
        position: absolute;
        right: 0;
        top: 0;
        width: 62px;
        height: 62px;
    }
     .header .top-menu {
        position: relative;
        margin-top: -4px;
        max-width: 100%;
        display: block;
        box-shadow: 0 5px 10px rgba(0,0,0,.05);
        -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.05);
    } 
    .header .top-menu ul.menu {
        background: #fff;
        display: flex;
        overflow: auto;
    }
    .header .top-menu ul li {
        min-width: 25%;
    }
    .header .top-menu ul li a {
        font-size: 14px;
        padding: 7px;
    }
    .header .top-menu ul li a:before {
        width: 5px;
        height: 100%;
        background: radial-gradient(ellipse at top,#ddd 0%,rgba(255,255,255,0) 70%);
    }
    .card-inner {
        display: block;
    }
  
    
    
}

@media (max-width: 680px) { 
    .proyects {
        display: flex;
        flex-direction: column;
    }
    .aboutContent , .experiencias{
        grid-template-columns: repeat(1, 1fr);
    }
}

.float2 {
    position: fixed;
    width: 30px;
    height: 50px;
    bottom: 110px;
    right: 5px;
    background-color: white;
    color: black;
    border-bottom-left-radius: 5px;
    border-radius: 20px;
    text-align: center;
    font-size: 39px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    opacity: .6;
}

a {
    color: inherit;
    font-size: 18px;
}